@model test4.ViewModels.DestinationViewModel

@{
    ViewData["Title"] = "Chỉnh sửa";
}

<h1>Chỉnh sửa</h1>

<h4>Destination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Destination.DestinationId" />
            <input type="hidden" asp-for="Destination.PhotoPath" />
            <div class="form-group">
                <label asp-for="Destination.DestinationName" class="control-label">Tên điểm đến</label>
                <input asp-for="Destination.DestinationName" class="form-control" />
                <span asp-validation-for="Destination.DestinationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.City" class="control-label">Thành phố</label>
                <input asp-for="Destination.City" class="form-control" />
                <span asp-validation-for="Destination.City" class="text-danger"></span>
            </div>
            
            @if (!string.IsNullOrEmpty(Model.Destination.PhotoPath))
            {
                <div class="form-group">
                    <label class="control-label">Ảnh hiện tại</label>
                    <div>
                        <img src="@Model.Destination.PhotoPath" alt="Ảnh hiện tại" style="max-width: 200px; max-height: 200px;" class="img-thumbnail" />
                    </div>
                </div>
            }
            
            <div class="form-group">
                <label asp-for="PhotoFile" class="control-label">Cập nhật ảnh</label>
                <input asp-for="PhotoFile" type="file" class="form-control" accept=".jpg,.jpeg,.png" />
                <span asp-validation-for="PhotoFile" class="text-danger"></span>
                <small class="form-text text-muted">Chỉ chấp nhận file JPG và PNG. Kích thước tối đa: 2MB. Để trống nếu không muốn thay đổi ảnh.</small>
            </div>
            
            <div class="form-group">
                <label asp-for="Destination.TourId" class="control-label">Tour</label>
                <select asp-for="Destination.TourId" asp-items="Model.Tours" class="form-control"></select>
                <span asp-validation-for="Destination.TourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>
